n8n-martinique-briefing.json
{
    "name": "MVP 1: Veille Politique Martinique - Briefing Matinal",
    "nodes": [
        {
            "parameters": {
                "url": "https://la1ere.francetvinfo.fr/martinique/index.rss"
            },
            "id": "e6f8a5a1-7d9a-4e2b-b8a9-f0e9d1c2b3a4",
            "name": "RSS Martinique 1ère",
            "type": "n8n-nodes-base.rssFeedTrigger",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4-turbo",
                "prompt": "={{ 'Tu es la **Sentinelle Madinina**, l\\'avatar numérique d\\'une directrice de parti politique en Martinique. Ton ton est combatif, passionné et proche du terrain.\n\nVoici l\\'actualité du moment :\n' + $node[\"RSS Martinique 1ère\"].json[\"title\"] + '\n\nContenu :\n' + $node[\"RSS Martinique 1ère\"].json[\"contentSnippet\"] + '\n\nFais-en une synthèse courte (3 points max) pour un briefing Telegram. Propose un angle d\\'attaque politique local (Martinique) et utilise quelques expressions créoles bien placées.' }}",
                "options": {
                    "temperature": 0.8
                }
            },
            "id": "f5e4d3c2-b1a0-4a9b-8c7d-6e5f4d3c2b1a",
            "name": "Agent Sentinelle (AI)",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "votre-credential-id-openai"
                }
            }
        },
        {
            "parameters": {
                "chatId": "575528369",
                "text": "={{ $node[\"Agent Sentinelle (AI)\"].json[\"choices\"][0][\"text\"] }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "d1c2b3a4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
            "name": "Envoi Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "votre-credential-id-telegram"
                }
            }
        }
    ],
    "connections": {
        "RSS Martinique 1ère": {
            "main": [
                [
                    {
                        "node": "Agent Sentinelle (AI)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent Sentinelle (AI)": {
            "main": [
                [
                    {
                        "node": "Envoi Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {}
}